

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.page-heading {
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}
	
.subheading {
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);	
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #42518a;
}

a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}

hr {
  width: 100%;
  margin: 100px auto;
  border-width: 2px;
  border-color:#D4D4D4;
}


hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

main {
	margin: 30px 0;
	padding: 20px;
}

footer {
	height: 200px;
	background-color: #163034;
}


.page-heading .subheading {
	display: inline-block !important;
    background-color: #163034;
	padding: 10px 20px;	
	margin: 120px 0 0px 0 !important;
}

table th,
table td {
padding: 6px;	
}


/* ----- Header Image ----- */

.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 180px;
}
.intro-header .page-heading {
  color: white;
}
@media only screen and (min-width: 768px) {
main {
	margin: 40px 0 80px 0;
	padding: 20px;
}
  .intro-header .page-heading {
    padding: 80px 0 40px 0;
  }
}
.intro-header .page-heading {
  text-align: center;
}
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
/* ----- END Header Image ----- */



#maps {
  text-align: center;
}
#map1, #map2 {
  width: 350px;
  height: 350px;
  display: inline-block;
  background-color: #CCC;
  border: 3px solid black;
  margin: auto;

}
